@font-face{
    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
   }
   
           #div1{
   
               width: 225px;
               background-color: #333;
               padding-bottom: 7px;
               box-shadow: 10px 2px 1px #111;
               border: 1px solid black;
               border-radius: 1px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
           }
   
           input{
   
               width: 91%;
               height: 60px;
               padding: 10px;
               background-color: white;
               color: black;
               text-align: right;
               font-size: 27px;
               font-family:'digital-clock-font';
               border: none;
           }
   
           button{
   
               width: 50px;
               height: 50px;
               border-radius: 50%;
               font-size: 17px;
               position: relative;
               left: 2%;
               top: 5px;
               box-shadow: 5px 0 0 black;
           }
   
           button:active{
   
               width: 50px;
               height: 50px;
               border-radius: 50%;
               font-size: 17px;
               position: relative;
               left: 2%;
               top: 5px;
               box-shadow: 0 0 0 black;
               box-shadow: inset 0 0 0 1px black;
           }
   
           .opclass{
   
               background-color: rgb(255, 140, 0);
           }
   
   